{
    "extends": [
        "vue",
        "standard",
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:vue/recommended",
        "prettier",
        "prettier/vue",
        "prettier/babel",
        "prettier/standard"
    ],
    "globals": {},
    "plugins": ["vue", "babel"],
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "no-console": "off",
        "no-debugger": "off",
        "no-unused-vars": 0,
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "parser": "flow",
                "semi": false,
                "arrowParens": "avoid",
                "printWidth": 140,
                "trailingComma": "none"
            }
        ]
    },
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    }
}